.u-flex-x-y-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-x-center {
    display: flex;
    justify-content: center;
}

.u-flex-y-center {
    display: flex;
    align-items: center;
}

.mb2-2 {
    margin-bottom: 2.2rem !important;
}

.mb1 {
    margin-bottom: 1rem !important;
}