.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-paypal {
  width: 0.8577142857142857em;
}

.icon-cc-visa {
  width: 1.2857142857142856em;
}

.icon-cc-mastercard {
  width: 1.2857142857142856em;
}

.icon-cc-paypal {
  width: 1.2857142857142856em;
}

.icon-stripe {
  width: 1.2857142857142856em;
}
